@model IEnumerable<Lab3.Models.Rosters>

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="form-group">
<table class="table table-striped">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Playerid)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Jersey)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Position)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Birthday)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Weight)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Height)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Birthcity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Birthstate)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in ViewData["selectResult"] as IEnumerable<Lab3.Models.Rosters>) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Playerid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Jersey)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Height)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthcity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthstate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Jersey">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Jersey">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Jersey">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
</body>
</html>
